/* styles/global.css */

html {
  scroll-behavior: smooth;
}

@keyframes profile_animate {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

/* Animação do scroll */
@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(100px);
  }
}

/* Estilo para o SVG */
.svg-path {
  fill: none;
  stroke: #5651E5;
  stroke-width: 20px;
}

.scroll {
  animation: scroll ease 1.5s infinite;
}

